.header__logo {
  margin: 0;
  max-width: 142px;
  padding-bottom: 36px;
  object-fit: contain;
}

@media screen and (max-width: 890px) {
  .header__logo {
    max-width: 104px;
    padding-left: 27px;
    padding-bottom: 27px;
    margin-top: 10px;
  }
}
