.header__burger-btn {
  display: none;
  position: absolute;
  margin: o auto;
  align-items: center;
  right: 35px;
  margin-bottom: 25px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: inherit;
  transition: 0.3s linear;
  cursor: pointer;
}

.header__burger-btn span {
  position: absolute;
  width: 28px;
  height: 3px;
  background-color: #fff;
  transition: 0.1s linear;
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-10px)
}

.header__burger-btn span:nth-child(3) {
  transform: translateY(10px)
}

.header__burger-btn:hover {
  opacity: 60%;
}

.header__burger-btn:active {
  transform: scale(.95);
}

.header__burger-btn.header__burger-btn_open span:nth-child(1){
  transform: translateY(0) rotate(45deg);
}

.header__burger-btn.header__burger-btn_open span:nth-child(2){
  opacity: 0;
}

.header__burger-btn.header__burger-btn_open span:nth-child(3){
  transform: translateY(0) rotate(-45deg);
}


@media screen and (max-width: 890px) {
  .header__burger-btn {
    display: flex;
  }
}
