.popup__close-button {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -44px;
  right: -40px;
  width: 32px;
  height: 32px;
  border: none;
  background-image: url(../../../images/close_Icon.svg);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, .0);
  background-position: center;
  background-size: cover;
  transition: 0.3s linear;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 60%;
}


.popup__close-button:active {
  transform: scale(.9);
}

@media screen and (max-width: 890px) {
  .popup__close-button {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    top: -35px;
    right: 0;
  }
}
