.header__nav {
  display: flex;
}

@media screen and (max-width: 890px) {
  .header__nav {
    margin: 0 auto;
    position: absolute;
    /* visibility: hidden; */
    flex-direction: column;
    width: 100%;
    align-items: center;
    top: -80px;
    /* text-align: center; */
    justify-content: center;
    /* margin-bottom: 40px;
    margin-top: -100px; */
    padding-right: 0;
    transition: transform 0.1s linear;
    /* border-bottom: solid 1px rgba(84, 84, 84, .7); */
  }

  .header__nav.header__nav_open {
    /* margin-bottom: 35px;
    margin-top: -15px; */
    padding-bottom: 40px;
    transform: translateY(110px);
    border-bottom: solid 1px rgba(84, 84, 84, .7);
    /* visibility: visible; */
  }
}

