@import url(../vendor/normalize.css);

/*fonts*/
@import url(../vendor/fonts/fonts.css);

/*page*/
@import url(../blocks/page/page.css);

/*header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__nav-text/header__nav-text.css);
@import url(../blocks/header/__nav-link/header__nav-link.css);
@import url(../blocks/header/__burger-btn/header__burger-btn.css);


/*content*/
@import url(../blocks/content/content.css);

/*form*/
@import url(../blocks/form/form.css);

@import url(../blocks/sing-title/sing-title.css);
@import url(../blocks/sing-subtitle/sing-subtitle.css);
@import url(../blocks/sing-subtitle/__text/sing-subtitle__text.css);
@import url(../blocks/sing-subtitle/__link/sing-subtitle__link.css);

/*input*/
@import url(../blocks/input/input.css);

@import url(../blocks/form-button/form-button.css);
@import url(../blocks/form-button/_disabled/form-button_disabled.css);

/*profile*/
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__photo/profile__photo.css);
@import url(../blocks/profile/__text/profile__text.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);

/*pop-up*/
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container-title/popup__container-title.css);
@import url(../blocks/popup/_img/popup_img.css);
@import url(../blocks/popup/__container-image/popup__container-image.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__figurcap/popup__figurcap.css);
@import url(../blocks/error/error.css);
@import url(../blocks/popup/__registr-icon/popup__registr-icon.css);

/*place*/
@import url(../blocks/place/place.css);
@import url(../blocks/place/__card/place__card.css);
@import url(../blocks/place/__item/place__item.css);
@import url(../blocks/place/__text/place__text.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__img/place__img.css);
@import url(../blocks/place/__like/place__like.css);

/*buttons*/
@import url(../blocks/place/__trash/place__trash.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/like-button/like-button.css);
@import url(../blocks/place/__container-like/place__container-like.css);
@import url(../blocks/like-button/_active/like-button_active.css);
@import url(../blocks/popup/__close-button/_img/popup__close-button_img.css);

/*footer*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);

/*spinner*/
@import url(../blocks/spinner/spinner.css)
