.profile__add-button {
  margin: 0;
  padding: 0;
  width: 150px;
  height: 50px;
  border: 2px solid #FFF;
  border-radius: 2px;
  background-image: url(../../../images/plus_done.svg);
  background-repeat: no-repeat;
  background-color: inherit;
  background-position: center;
  background-size: 22px 22px;
  transition: 0.3s linear;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 60%;
}

.profile__add-button:active {
  transform: scale(.95);
}



@media screen and (max-width: 898px) {
  .profile__add-button {
    margin-top: 28px;
    width: 282px;
    background-size: 16px 16px;
  }
}
